<h1>Salve!</h1>

<p>This website holds collection of Latin dictionaries. List of the available wordbooks could be found in the particular <a href="{{ site.baseurl }}{% link dictionaries.md %}">section</a>.</p> 

<p>Dictionaries are encoded for desktop computers and mobile devices. Formats and supported dictionary shells are explained in the <a href="{{ site.baseurl }}{% link docs/docs.md %}">documentation</a>.</p>

<p>I am open for cooperation. If you want to share your dictionary, join to a digitalization project, or have technical question, feel free to <a href="{{ site.baseurl }}{% link about.md %}">contact me</a>.</p>

